* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background-color: darkslategray;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.backlog {
  margin: 10px 20px;
  width: 180px;
  padding: 10px 20px;
  background-color: rgb(241, 208, 97);
  border: 5px double darkorange;
  font-size: 1em;
  font-weight: 600;
}
.btn1 {
  position: relative;
  bottom: 5px;
  background-color: rgb(83, 248, 210);
  font-size: 0.6em;
  font-weight: 900;
  border: 5px double darkorange;
  color: black;
  padding: 20px;
  outline: none;
}
.btn2 {
  margin: 10px 20px;
  background-color: rgb(238, 108, 130);
  color: black;
  border: 5px double darkorange;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 40px;
  outline: none;
}
header {
  background-color: #53f8d2;
  border: 3px solid rgb(92, 2, 63);
  color: rgb(92, 2, 63);
  text-align: center;
  padding: 30px;
}
input.entry {
  background-color: rgb(83, 248, 210);
  margin: 20px;
  font-size: 1.2em;
  font-weight: 200;
  color: rgb(82, 3, 116);
  border: 5px double darkorange;
  padding: 5px;
}
.list {
  width: 500px;
  height: 1200px;
  margin: 20px;
  background-color: rgb(245, 232, 212);
  font-size: 24px;
  border: 5px double darkorange;
}
@media screen and (max-width: 600px) {
  .backlog {
    position: relative;
    right: 30px;
    font-size: 0.75em;
  }

  body {
    background-color: darkorange;
  }
  .btn1 {
    position: relative;
    left: 20px;
    outline: none;
  }
  .btn2 {
    margin: 20px;
    font-size: 0.9em;
  }

  input.entry {
    font-size: 0.9em;
  }
  .list {
    width: 300px;
  }
}
